<div class="app-wrapper">
  <div class="controls-panel">
    <div class="actions">
      <button
        mat-raised-button
        disabled="{{ $gameStarted | async }}"
        (click)="startGame()"
      >
        Start
      </button>
      <button
        mat-raised-button
        (click)="resetGame()"
      >
        Reset
      </button>
    </div>

    <mat-form-field class="timer-input">
      <mat-label>
        Time for reaction
      </mat-label>
      <input
        type="number"
        matInput
        [formControl]="timeForReactionControl"
        max="5000"
        min="1"
        placeholder="ms"
      >
      <mat-error *ngIf="timeForReactionControl.invalid && timeForReactionControl.touched">
        Range should be between 1 and 5000
      </mat-error>
    </mat-form-field>
  </div>

  <div class="score-panel">
    <div class="computer-points">
      <div>Computer</div>
      <div>
        <strong>{{computerPoints}}</strong>
      </div>
    </div>
    <div class="user-points">
      <div>User</div>
      <div>
        <strong>{{userPoints}}</strong>
      </div>
    </div>
  </div>

  <div class="cells-container" (click)="clickCellHandler($event)">
    <app-cell
      class="cell"
      *ngFor="let cell of cells"
      [id]="cell"
    ></app-cell>
  </div>
</div>
